* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4a4a4a;
}

nav.menu {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0) 0px 5px 15px;
    background-color: #FFF;
    ul {
        display: flex;
        justify-content: center;
        gap: 35px;
        flex-wrap: wrap;
        li {
            background-color: rgb(0, 110, 255, 0.1);
            border-radius: 10px;
            padding: 10px;
            a {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                color: #3a3a3a;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                img {
                    width: 18px;
                }
            }
            &.active {
                background-color: rgb(0, 110, 255, 0.3);
            }
        }
    }
}

.info {
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    display: flex;
    gap: 5px;
    background-color: #eee;
    &.blue {
        color: #FFF;
        background-color: rgb(7, 69, 150, 0.6);
        width: fit-content;
        display: none;
        align-items: center;
        span {
            font-size: 24px;
        }
    }
    a {
        color: rgb(0, 110, 255);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 50px 0;
    text-align: center;
    font-size: 24px;
}

article {
    width: 90%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: left;
    }
    ul {
        margin: 25px 0;
        li {
            color: #4a4a4a;
            margin: 25px 0;
            span {
                font-size: 24px;
            }
        }
    }
    h1 {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 25%;
            height: 6px;
            background-color: rgb(0, 110, 255);
            left: 0;
            bottom: -10px;
            border-radius: 0 10px 0 0;
        }
    }
    .date {
        font-size: 14px;
        text-align: right;
        font-style: italic;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.emojis {
    font-size: 32px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 600ms, background-color 600ms;
    background-color: #eee;
    cursor: pointer;
    &:hover {
        box-shadow: none;
    }
    &.checked {
        background-color: #4a4a4a;
    }
}

button {
    margin: 50px 0;
    outline: none;
    background-color: rgb(0, 110, 255);
    color: #FFF;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 400ms, opacity 600ms, transform 600ms;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:hover {
        &::before {
            left: 0;
        }
    }
    &.invert {
        background-color: #4a4a4a;
        color: #FFF;
        &::before {
            background-color: #3a3a3a;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: rgb(7, 69, 150);
        z-index: -1;
        transition: left 600ms;
    }
}

main {
    padding: 2%;
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
        gap: 35px;
        padding: 50px 0;
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 35px;
            justify-content: center;
            .box {
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 15px;
                position: relative;
                border: solid 3px #FFF;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 35px;
                width: 150px;
                transition: border-color 400ms, box-shadow 400ms;
                cursor: pointer;
                img {
                    &.svg {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: #FFF;
                        border-radius: 5px;
                        transition: background-color 400ms;
                        width: 32px;
                        &.checked {
                            background-color: rgb(0, 110, 255);
                        }
                    }
                }
                p {
                    text-align: center;
                    text-transform: uppercase;
                    color: #4a4a4a;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    opacity: 0.2;
                    background-color: rgb(0, 110, 255);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    transition: opacity 400ms, border-radius 400ms;
                }
                &.checked {
                    border-color: rgb(0, 110, 255);
                    &::before {
                        opacity: 0.7;
                        border-radius: 0;
                    }
                }
                &:hover {
                    box-shadow: none;
                }
            }
        }
        &#fin {
            img {
                width: 100%;
            }
        }
    }
    &#seance {
        section {
            margin: 50px 0;
            justify-content: flex-start;
            gap: 35px;
            #progress {
                height: 100px;
                width: 100px;
                display: flex;
                justify-content: center;
                position: relative;
                p {
                    z-index: 10;
                    color: #FFF;
                    font-size: 40px;
                    position: absolute;
                    width: 100%;
                    font-weight: 100;
                    letter-spacing: 6px;
                    text-align: center;
                }
                progress {
                    -webkit-appearance: none;
                    transform: rotate(270deg);
                    height: 100%;
                    width: 100%;
                }
                 ::-webkit-progress-bar {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 10px;
                    background-color: #4a4a4a;
                    position: relative;
                }
                 ::-webkit-progress-value {
                    border-radius: 10px;
                    background-color: rgb(0, 110, 255);
                    transition: width 400ms;
                }
            }
            div {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }
    &#mentions {
        section {
            margin: 0 50px;
        }
    }
    &#Home {
        padding: inherit;
        background-image: url('../img/background.png');
        background-size: contain;
        section {
            background-color: rgb(0, 110, 255, 0.7);
            justify-content: center;
            h1,
            h2,
            h3 {
                color: #FFF;
                text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
            }
            .wrapper {
                img {
                    width: 50%;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    @media screen and (max-width: 992px) {
                        width: 90%;
                    }
                }
                .info img {
                    width: auto;
                    border-radius: inherit;
                    box-shadow: 0 0 0 0;
                }
            }
            table {
                margin: 0 15px;
                width: 95%;
                thead {
                    tr {
                        th {
                            background-color: #eee;
                            color: #3a3a3a;
                            text-align: left;
                            border: solid 1px rgba(133, 133, 133, 0.4);
                            padding: 10px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            background-color: #FFF;
                            color: #4a4a4a;
                            border-bottom: solid 1px rgba(133, 133, 133, 0.4);
                            text-align: left;
                            a {
                                color: rgb(0, 110, 255);
                            }
                        }
                        &.disable {
                            td {
                                text-decoration: line-through;
                                text-decoration-color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}

table {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-spacing: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    thead {
        tr {
            th {
                padding: 15px;
                color: #FFF;
                background-color: #4a4a4a;
                text-align: center;
                &:first-child {
                    border-radius: 5px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 5px 0 0;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 15px;
                text-align: center;
            }
        }
    }
}

.timmer {
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 35px;
    p {
        color: #FFF;
    }
    img {
        border-left: solid 2px #FFF;
        cursor: pointer;
    }
}

form {
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 90%;
    input,
    textarea,
    select {
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        resize: none;
        color: #4a4a4a;
        width: 100%;
        &::placeholder {
            color: #4a4a4a;
        }
    }
    button {
        width: fit-content;
    }
}

header {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ul {
        display: flex;
        justify-content: space-around;
        li {
            overflow: hidden;
            padding: 25px 0;
            a {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: -100%;
                    height: 2px;
                    width: 100%;
                    background-color: #3a3a3a;
                    transition: left 600ms;
                }
                &:hover {
                    &::before {
                        left: 0;
                    }
                }
            }
            &.disable {
                text-decoration: line-through;
                text-decoration-color: red;
            }
        }
    }
}

footer {
    padding: 50px;
    padding-bottom: 20vh;
    @media screen and (max-width: 325px) {
        padding-bottom: 40vh;
    }
    background-color: #4a4a4a;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    width: 100%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
    ul {
        color: #FFF;
        width: 100%;
        li {
            overflow: hidden;
            &:first-child {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding-bottom: 20px;
            }
            line-height: 35px;
            a {
                position: relative;
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: -100%;
                    height: 2px;
                    width: 100%;
                    background-color: #FFF;
                    transition: left 600ms;
                }
                &:hover {
                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }
}

.icon {
    font-size: 50px;
}